h1 {
    font-size: 26px;
    font-family: sans-serif;
    /* mengubah menjadi huruf besar */
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    /* tidak masalah walau h2 lebih bisar dari h1
    meskipun h1 adalah judul utama halaman, tidak berarti bahwa harus besar juga
    tapi tentang semua semnatik bukan hanya tentang tampilan */
    font-size: 40px;
    font-family: sans-serif;
}

h3 {
    font-size: 30px;
    font-family: sans-serif;
}

h4 {
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    font-family: sans-serif;
    /* line-height berfungsi untuk memberi tinggi space */
    line-height: 1.5;
}

li {
    font-size: 20px;
    font-family: sans-serif;
}